.productions > p {
	display: inline;
}

/* General styling */
#siteTitle {
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight:400;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #37BCDA;
	color: white;
}

button {
	background-color: #37BCDA !important;
}

button:hover {
	background-color: #30A7C1 !important;
}

.container {
	margin-top:20px;
}

#startButton {
	text-align:center;
}

/* Grammar styling */
#grammar {
	border: 3px solid;
	padding: 15px;
	margin: 10px 0px;
	border-color: #2A5E71;
}

	#grammar h3{
		font-size: 42px;
	}

	#grammar .productions {
		font-size: 24px;
	}

/* Questions styling */
#question-answer {
	width: 82%;
	display: inline;
	margin-right: 5%;

}



#opt-char {
    margin: 0 0 0.16em 0;
    padding: 0.785em 0.8em 0.785em 0.8em;
}

/*#optional-char-box {
	display: inline;
}

#optional-char-box > p,input {
	display: inherit;
}*/

#answer-panel {
	display:inline;
	float:right;
}

.answer {
	display: inline;
	margin-right:20px;
}

.answercheck {
	display: inline;
	color: #33cc33;
	font-size: 12px !important;
}

.question {
	color: grey;
	margin-top:12px;
}

#active {
	color: black;
}

#active > .question-title {
	font-weight: bold;
	display:block;
}

.question-title {
	display: inline;
}