.productions > p {
	display: inline;
}

/* General styling */
body {
	font-family: 'Lato', sans-serif;
}

button {
	background-color: #37BCDA !important;
	font-size: 20px;
	font-weight:bold;
	font-family: 'Lato', sans-serif;
	margin-bottom: 0 !important;
}

	button:hover {
		background-color: #30A7C1 !important;
	}

a {
	color: #F6781D;
}

	a:hover {
		color: #E56F1B;
	}


/* Landing Page styling */
#siteTitle {
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight:400;
	color: white;
	font-size: 80px;
}

.button.indexButtons {
	background-color:white !important;
	color: #37BCDA !important;
	font-size: 20px;
}

.button.indexButtons:hover {
	background-color:#F6781D !important;
	color: white !important;
}

#landingPage {
	height:100%;
	background-color: #37BCDA;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginActions {
	text-align:center;
	margin-top:30px;
}

/* Learning Page Styling */
#navbar {
	padding:20px;
	/*padding-bottom:20px;*/
	background-color: #37BCDA;
	display: flex;
  	justify-content: space-between;
}

#navbarLearnButton {
	margin-top:0.5rem;
}

#navbarUserButton {
	margin-top:0.5rem;
}

#siteBanner {
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight:400;
	color: white;
	margin-bottom:0;
}
	#siteBanner:hover {
		color: #F6781D;
	}

.container {
	margin-top:20px;
}

h3 {
	font-family: 'Lato', sans-serif;
}

/* Grammar styling */

@media only screen and (max-width: 40em) { 
	#questions-container {
		margin-top: 1rem;
	}
}

#grammar {
	border: 3px solid;
	padding: 15px;
	margin: 10px 0px;
	/*border-color: #2A5E71;*/
	border-color: #F6781D;
}

#grammar h3 {
	font-size: 42px;
}

#grammar .productions {
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

#explainer > p {
	margin-bottom: 0.3rem;
}
/* Questions styling */
.pt-incorrect {
	border: 1px solid #F6781D; 
}

#question-answer {
	width: 82%;
	display: inline;
	margin-right: 5%;

}

#opt-char {
    margin: 0 0 0.16em 0;
    padding: 0.785em 0.8em 0.785em 0.8em;
}

/*#optional-char-box {
	display: inline;
}

#optional-char-box > p,input {
	display: inherit;
}*/

#answer-panel {
	display:inline;
	float:right;
}

.answer {
	display: inline;
	margin-right:20px;
}

.answercheck {
	display: inline;
	color: #33cc33;
	font-size: 12px !important;
}

.question {
	color: grey;
	margin-top:12px;
}

#active {
	color: black;
}

#active > .question-title {
	font-weight: bold;
	display:block;
}

.question-title {
	display: inline;
}