.productions > p {
	display: inline;
}

/* Style to stick footer to bottom */
#page-wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 30px;
}

#footer {
	padding:10px;
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: thin solid #d9d9d9;
}

.footerLinks {
	color: #37BCDA;
	font-size: 18px;
}

.footerLinks.middle {
	margin-left: 24px;
	margin-right: 24px;
}

	.footerLinks:hover {
		color: #30A7C1;
	}

/* Profile page styling */
.socialprovider {
	margin-bottom: 1rem;
}

/* General styling */
body {
	font-family: 'Lato', sans-serif;
}

button {
	background-color: #37BCDA !important;
	font-size: 20px;
	font-weight:bold;
	font-family: 'Lato', sans-serif;
	margin-bottom: 0 !important;
}

	button:hover {
		background-color: #30A7C1 !important;
	}

a {
	color: #F6781D;
}

	a:hover {
		color: #CC6318;
	}

/* Landing Page styling */
#siteTitle {
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight:400;
	color: white;
	font-size: 80px;
}

.button.indexButtons {
	background-color:white !important;
	color: #37BCDA !important;
	font-size: 20px;
}

	.button.indexButtons:hover {
		background-color:#F6781D !important;
		color: white !important;
	}

#landingPage {
	height:100%;
	background-color: #37BCDA;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginActions {
	text-align:center;
	margin-top:30px;
}

.loginOption {
	display:inline;
}

/* Learning Page Styling */
#navbar {
	padding:20px;
	background-color: #37BCDA;
	display: flex;
	align-items: center;
  	justify-content: space-between;
}

#navbarTitle {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

#navbarUser {
	text-align: right;
}

#navbarUser > p {
	margin-bottom:5px;
}

#siteBanner {
	text-align: center;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight:400;
	color: white;
	margin-bottom:0;
}
	#siteBanner:hover {
		color: #F6781D;
	}

.container {
	margin-top:20px;
}

h3 {
	font-family: 'Lato', sans-serif;
}

/* Grammar styling */

@media only screen and (max-width: 40em) { 
	#questions-container {
		margin-top: 1rem;
	}
	#siteBanner {
		font-size:3rem;
	}
}

#grammar {
	border: 3px solid;
	padding: 15px;
	margin: 10px 0px;
	/*border-color: #2A5E71;*/
	border-color: #F6781D;
}

#grammar h3 {
	font-size: 42px;
}

#grammar .productions {
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

#explainer > p {
	margin-bottom: 0.3rem;
}
/* Questions styling */


#giveup {
	background-color: #F6781D !important;
}

#giveup:hover {
	background-color: #CC6318 !important;
}

.pt-incorrect {
	border: 1px solid #F6781D; 
}

#question-answer {
	width: 82%;
	display: inline;
	margin-right: 5%;

}

#opt-char {
    margin: 0 0 0.16em 0;
    padding: 0.785em 0.8em 0.785em 0.8em;
}

/*#optional-char-box {
	display: inline;
}

#optional-char-box > p,input {
	display: inherit;
}*/

#answer-panel {
	display:inline;
	float:right;
}

.answer {
	display: inline;
	margin-right:20px;
}

.answercheck {
	display: inline;
	color: #33cc33;
	font-size: 12px !important;
}

.badanswercheck {
	display: inline;
	color: #F6781D;
	font-size: 12px !important;
}

.question {
	color: grey;
	margin-top:12px;
}

#active {
	color: black;
}

#active > .question-title {
	font-weight: bold;
	display:block;
}

.question-title {
	display: inline;
}

/* media screen styling */
@media screen and (max-width:990px) {
  /*#navbar {
	  flex-wrap: wrap;  
  }*/
}

@media screen and (max-width:620px) {
	#siteTitle {
		font-size:10vw;
	}

	#navbarTitle {
		position:relative;
		margin-bottom:10px;
	}

	#siteBanner {
		font-size:50px;
	}

	.loginOption {
		display:block;
		width: 100%;
	}

	#navbar {
		flex-wrap:wrap;
	}

	#navbarLearn {
		width:100%;
		order: 2;
		margin-bottom:10px;
	}

	#navbarLearnButton {
		width:100%;
	}

	#navbarTitle {
		order: 1;
	}

	#navbarUser {
		width:100%;
		order: 3;
	}

	.navbarUserButton {
		width:100%;
	}
}