language: python
python:
  - "3.6"
services:
  - postgresql
env:
  - DJANGO=1.11.1
install:
  - pip install -r requirements.txt
before_script:
  - psql -c "CREATE DATABASE travisci;" -U postgres
script:
  - python manage.py test
notifications:
  email:
    recipients:
      - howardhuang96@gmail.com
      - vince.siu4@gmail.com
      - skate4fun88@gmail.com
      - vivianzhang61@gmail.com
      - julien.brundret@gmail.com
    on_success: never
    on_failure: change