chardet==2.3.0
click==6.7
colorama==0.3.2
Django==1.11.1
django-allauth==0.32.0
Flask==0.12.1
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.0
MarkupSafe==1.0
psycopg2<=2.7
pytz==2017.2
pyxdg==0.25
requests==2.4.3
six==1.8.0
urllib3==1.9.1
Werkzeug==0.12.1
wheel==0.24.0
whitenoise==3.3.0
