{% extends "LL1_Academy/_base.html" %}

{% block navbar %}
<div id="navbar">
    <div id="navbarLearn">
        <a href="learn"><button class="button indexButtons" id="navbarLearnButton">Learn</button></a>
    </div>
    <div id="navbarTitle">
        <a href="index"><h1 id="siteBanner">LL(1) Academy</h1></a>
    </div>
    <div id="navbarUser">
        {% if user.is_authenticated %}
            <p style="color:white;">Welcome back {{ user.username }}!</p>
             <!--<img src="{{user.socialaccount_set.all.0.get_avatar_url}}">-->
            <a href="accounts/logout"><button class="button indexButtons">Logout</button></a>
        {% else %}
            <a href="login"><button class="button indexButtons" id="navbarUserButton">Login</button></a>
        {% endif %}
    </div>
</div>


{% endblock %}