{% extends "LL1_Academy/_navbarPages.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div id="aboutContent">
    <div class="aboutSection">
        <h3 style="text-align:center;font-weight:bold;"> About the Project </h3> 
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given that compilers and LL(1) grammars are very specific and advanced topics, there are not enough adequate resources for students to practice these concepts. This project was created by a group of UCLA students for the course Computer Science 130: Software Engineering with the objective of developing a web application that will provide students with the means to learn more about LL(1) grammars and practice using randomized questions through a tailored experience based on performance on previous questions.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The biggest advantage our application provides over other existing online teaching tool is that the grammars and question are not manually human written. We will implement the logic to generate LL(1) grammars, associated questions, and the correct answers. We will also collect user performance, and tailor the questions offered to help users practice and improve upon their weaknesses.</p>
    </div>
    <div class="aboutSection">
        <h3 style="text-align:center;font-weight:bold;"> Meet the Team </h3>
        <div class="row bioRow">
            <div class="large-6 columns bioCol">
                <p>[Insert photo here]</p>
                <p>[Insert bio here]</p>
            </div>
            <div class="large-6 columns bioCol">
                <p>[Insert photo here]</p>
                <p>[Insert bio here]</p>
            </div>
        </div>
        <div class="row bioRow">
            <div class="large-6 columns bioCol">
                <p>[Insert photo here]</p>
                <p>[Insert bio here]</p>
            </div>
            <div class="large-6 columns bioCol">
                <p>[Insert photo here]</p>
                <p>[Insert bio here]</p>
            </div>
        </div>
        <div class="row bioRow">
            <div class="columns bioCol">
                <p>[Insert photo here]</p>
                <p>[Insert bio here]</p>
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}