{% extends "LL1_Academy/_navbarPages.html" %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div id="aboutContent">
    <div class="aboutSection">
        <img src="{% static 'img/LL1-logo.ico' %}" style="width:80px;display:block;margin:auto;">
        <h3 style="text-align:center;font-weight:bold;"> About the Project </h3> 
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given that compilers and LL(1) grammars are very specific and advanced topics, there are not enough adequate resources for students to practice these concepts. This project was created by a group of undergraduate UCLA students for the course Computer Science 130: Software Engineering with the objective of developing a web application that will provide students with the means to learn more about LL(1) grammars and practice using randomized questions through a tailored experience based on performance on previous questions.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The biggest advantage that our application provides over other existing online teaching tools is that the grammars and question are not manually human written, but rather by computer generation. We implement the logic to generate LL(1) grammars, associated questions, and the correct answers. We also collect user performance, and tailor the questions offered to help users practice and improve upon their weaknesses.</p>
    </div>
    <div class="aboutSection bios">
        <h3 style="text-align:center;font-weight:bold;"> Meet the Team </h3>
        <div class="row bioRow">
            <div class="large-6 columns bioCol">
                <img src="{% static 'img/filler.png' %}">
                <a href="https://www.linkedin.com/in/jbrundrett/"><h5>Julien Brundrett</h5></a>
                <p>4th Year, B.S. Computer Science</p>
            </div>
            <div class="large-6 columns bioCol">
                <img src="{% static 'img/howard.jpeg' %}">
                <a href="https://www.linkedin.com/in/howard-huang-492b80119/"><h5>Howard Huang</h5></a>
                <p>3rd Year, B.S. Computer Science</p>
            </div>
        </div>
        <div class="row bioRow">
            <div class="large-6 columns bioCol">
                <img src="{% static 'img/vincent.jpeg' %}">
                <a href="https://www.linkedin.com/in/vincentrsiu/"><h5>Vincent Siu</h5></a>
                <p>4th Year, B.S. Computer Science and Engineering</p>
            </div>
            <div class="large-6 columns bioCol">
                <img src="{% static 'img/elise.jpg' %}">
                <a href="https://www.linkedin.com/in/eliseyuen/"><h5>Elise Yuen</h5></a>
                <p>3rd Year, B.S. Computer Science</p>
            </div>
        </div>
        <div class="row bioRow">
            <div class="large-6 columns bioCol">
                <img src="{% static 'img/vivian.JPG' %}">
                <a href="https://www.linkedin.com/in/vivian-ni-zhang/"><h5>Vivian Ni Zhang</h5></a>
                <p>4th Year, B.S. Computer Science</p>
            </div>
            <div class="large-6 columns bioCol">
                <img src="{% static 'img/jens.jpg' %}">
                <a href="https://www.linkedin.com/in/jens-palsberg-5b60339/"><h5>Jens Palsberg</h5></a>
                <p>UCLA Professor</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}