{% extends "LL1_Academy/_navbarPages.html" %}

{% load static %}

{% block title %}Learning{% endblock %}

{% block templates %}
{% verbatim %}

<script id="question-template" type="text/x-handlebars-template">
  <div class="question" id="active" style="display: none">
	{{#if symbol}}
    	<p class="question-title">What is the {{category}} set of symbol {{symbol}}?</p>
	{{else}}
		<p class="question-title">Is the grammar LL(1)?</p>
	{{/if}}
    <form id="question-input" onsubmit="return false;">
		{{#if symbol}}
    		<input type="text" id="question-answer" placeholder="example: x,y,z" required>
    		{{#if opt}}
    			<button class="button" type="button" id="opt-char">{{opt}}</button>
	    	{{/if}}
    	{{else}}
			<input type="radio" name="ll1" value="True" id="input1" style="display:inline;" required> True
  			<input type="radio" name="ll1" value="False" id="input2" style="display:inline;margin-left:10px;"> False
		{{/if}}
		<div class="feedback"></div>
    	<button type="submit" class="button">Submit</button>
    	<button type="button" class="button" id="giveup">Give Up</button>
    </form>
  </div>  
</script>

<script id="parseTable-template" type="text/x-x-handlebars-template">
	<div class="question" id="active" style="display: none">
	<p class="question-title">What is the LL(1) parsing table of this grammar?</p>

	<table class="table" id="pt">
		<tr>
			<th></th>
			{{#each terminals}}
				<th>{{this}}</th>
			{{/each}}
		</tr>

		{{#each non_terminals}}
		<tr>
			<td>{{this}}</td>
			{{printParseTableCells}}
		</tr>
		{{/each}}
	</table>

    <form id="question-input" onsubmit="return false;">
		<div class="feedback"></div>
		{{#if opt}}
			<button class="button" type="button" id="opt-char-pt">{{opt}}</button>
		{{/if}}
    	<button type="submit" class="button">Submit</button>
    	<button type="button" class="button" id="giveup">Give Up</button>
    </form>
  </div>  
</script>

{% endverbatim %}
{% endblock %}

{% block content %}
	<div class="row">
		<!-- grammar here -->
		<div class="small-12 medium-6 columns" id="grammar-container">
			<div id="grammarTitle">
				<h3 id="grammarHeader" style="margin-bottom:0;">Consider the grammar</h3>
				<div id="grammarButtons">
					<button type="button" class="button">Tutorial</button>
					<button type="button" class="button" id="skip">Skip</button>
				</div>
			</div>
			<div id="grammar">
				{% for grammar in grammar_object %}
					<div class="productions">
						<p class="nt">{{ grammar.nt }}</p>
						<p>:==</p>
						{% for t in grammar.productions %}
							{% if not forloop.last %}
								<p class="t">{{ t }}</p>
								<p>|</p>
							{% else %}
								<p class="t">{{ t }}</p>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div id="explainer">
				<p>{{ non_terminals }} is the set of nonterminal symbols</p>
				<p>{{ start_symbol }} is the start symbol</p>
				<p>{{ terminals }} is the set of terminal symbols</p>
				<p>&epsilon; denotes the empty string</p>
				<p>$ denotes end of string</p>
			</div>
		</div>

		<!-- questions here -->
		<div class="small-12 medium-6 columns" id="questions-container">
			<h3>Questions</h3>
		</div>
	</div>

	{% if new_user %}
	<!-- <ol id="chooseID" style="display:none">
	  <li data-id="grammar" data-options="tipLocation:top;" data-button="Next">
	  	Here is a grammar and an explainer.
	  </li>
	  <li data-id="question-input" data-options="tipLocation:top;"  data-button="Next">
	  	Type in your answers here and click submit to check the anwser.
	  </li>
	  <li data-id="opt-char" data-options="tipLocation:bottom; tipContainer: question"  data-button="Next">
	  	This button helps you to input special characters.
	  </li>
	  <li data-id="giveup" data-options="tipLocation:top;"  data-button="Next">
	  	Click "give up" to show the answer. You will not receive any points for a given up question.
	  </li>

	  <li data-id="skip" data-options="tipLocation:bottom;"  data-button="Close">
	  	Don't like this grammar? Skip it by pressing here.
	  </li>
	  <li>Have fun learning LL(1) grammars!</li>

	</ol> -->
	<ol data-joyride data-autostart="true" id="docs-joyride">
	  <li data-target="#grammar">
	    <p>Here is a grammar.</p>
	  </li>
	  <li data-target="#explainer">
	    <p>Here is a explainer.</p>
	  </li>
	  <li data-target="#skip">
	    <p>Don't like this grammar? Skip it by pressing here.</p>
	  </li>
	  <li>
	    <p>Have fun learning LL(1) grammars!</p>
	   	<p class="text-center">
	      <button class="button success" data-joyride-close>Close</button>
	    </p>
	  </li>
	</ol>
	{% endif %}

{% endblock %}

{% block pagescripts %}
	<script> var csrfmiddlewaretoken = "{{ csrf_token }}"; </script>
	<script src="{% static 'js/learn.js' %}"></script>
	{% if new_user %}
	<link rel=" stylesheet" type="text/css" href="{% static 'css/foundation.joyride.css' %}">
	<script src="{% static 'js/foundation.joyride.js' %}"></script>
	<script>
		$(window).on('load',function() {
	  		$(document).foundation();
			// $("#docs-joyride").joyride({});
		});
	</script>
	{% endif %}
		
{% endblock %}