{% extends "LL1_Academy/_base.html" %}

{% load static %}

{% block title %}Learning{% endblock %}

{% block templates %}
{% verbatim %}

<script id="question-template" type="text/x-handlebars-template">
  <div class="question" id="active">
	{{#if symbol}}
    	<p class="question-title">What is the {{category}} set of symbol {{symbol}}?</p>
	{{else}}
		<p class="question-title">Is the grammar LL(1)?</p>
	{{/if}}
    <form id="question-input" onsubmit="return false;">
		{{#if symbol}}
    		<input type="text" id="question-answer" placeholder="example: x,y,z" required>
    		{{#if opt}}
    		<button class="button" type="button" id="opt-char">{{opt}}</button>
	    	{{/if}}
    	{{else}}
			<input type="radio" name="ll1" value="True" id="input1" style="display:inline;" required> True
  			<input type="radio" name="ll1" value="False" id="input2" style="display:inline;margin-left:10px;"> False
		{{/if}}
		<div class="feedback"></div>
    	<button type="submit" class="button">Submit</button>
    </form>
  </div>  
</script>

{% endverbatim %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<!-- grammar here -->
			<div class="small-12 medium-6 columns" id="grammar-container">
				<h3 id="grammarHeader">Consider the grammar</h3>
				<div id="grammar">
					{% for grammar in grammar_object %}
						<div class="productions">
							<p class="nt">{{ grammar.nt }}</p>
							<p>:==</p>
							{% for t in grammar.productions %}
								{% if not forloop.last %}
									<p class="t">{{ t }}</p>
									<p>|</p>
								{% else %}
									<p class="t">{{ t }}</p>
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				<div id="explainer">
					<p>
						where {{ non_terminals }} is the set of nonterminal symbols, {{ start_symbol }} is the start symbol, {{ terminals }} 
						is the set of terminal symbols, and &epsilon; denotes the empty string.
					<p>
				</div>
			</div>

			<!-- questions here -->
			<div class="small-12 medium-6 columns" id="questions-container">
				<h3>Questions</h3>
			</div>
		</div>
	</div>
{% endblock %}

{% block pagescripts %}
	<script> var csrfmiddlewaretoken = "{{ csrf_token }}"; </script>
	<script src="{% static 'js/learn.js' %}"></script>
{% endblock %}