{% extends "LL1_Academy/_navbarPages.html" %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
  <div class="small-12 medium-4 columns">
    <h2>User Info</h2>
  	<p>{{ user_info.email }}</p>
    {% include "socialaccount/snippets/login_extra.html" %}
  	{% include "socialaccount/manage_providers.html" with process="login" %}

    <h2> Statistics </h2>
    <div id="chart"></div>
    <p> You have completed {{completed_grammars|length}} grammars. </p>
    <p> You beat {{percentile}} % of our users. </p>
    <p> Your average score is {{avg_score}}. </p>
    <p> You have skipped {{skipped_grammars|length}} grammars </p>
  </div>

  <div class="small-12 medium-8 columns">
    <h2>Learn History</h2>

    <h3>Completed Grammars</h3>
    {% if completed_grammars|length > 0 %}
      <table class="grammar-table">
        <thead>
          <tr>
            <th width="200">Grammar</th>
            <th width="150">Avg Score</th>
            <th width="150">Your Score</th>
          </tr>
        </thead>
        <tbody>
        {% for grammar in completed_grammars %}
          <tr>
            <td>
            	<a href="/learn/?gid={{grammar.gid}}">{{grammar.prods}}</a>
            </td>
            <td>{{grammar.grammar_avg}}</td>
            <td>{{grammar.score}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="profile-none">You have not completed any grammars.</p>
    {% endif %}

    <h3>Skipped Grammars</h3>

    {% if skipped_grammars|length > 0 %}
      <table class="grammar-table">
        <thead>
          <tr>
            <th width="200">Grammar</th>
          </tr>
        </thead>
        <tbody>
        {% for grammar in skipped_grammars %}
          <tr>
            <td>
            	<a href="/learn/?gid={{grammar.gid}}">{{grammar.prods}}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="profile-none">You have not skipped any grammars.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block pagescripts %} 
  <link href="{% static 'css/c3.css' %}" rel="stylesheet" type="text/css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{% static 'js/c3.min.js' %}"></script>
	<script src="{% static 'js/profile.js' %}"></script>


{% endblock %}