{% extends "LL1_Academy/_navbarPages.html" %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
  <div class="small-12 medium-4 columns">
  	<h2>{{ user_info.first_name }} {{user_info.last_name}}</h2>
    {% include "socialaccount/snippets/login_extra.html" %}
  	{% include "socialaccount/manage_providers.html" with process="login" %}

    <div id="grammar_chart"></div>
    <div id="question_chart"></div>
    <p> You beat <b>{{percentile}} % </b>of our users. </p>
  </div>

  <div class="small-12 medium-8 columns">
    
    <p>Click on the grammars to review</p>
    <h3>Completed Grammars</h3>
    {% if completed_grammars|length > 0 %}
      <table class="grammar-table">
        <thead>
          <tr>
            <th width="200">Grammar</th>
            <th width="150">Avg Score</th>
            <th width="150">Your Score</th>
          </tr>
        </thead>
        <tbody>
        {% for grammar in completed_grammars %}
          <tr>
            <td>
            	<a href="/learn/?gid={{grammar.gid}}">{{grammar.prods}}</a>
            </td>
            <td>{{grammar.grammar_avg}}</td>
            <td>{{grammar.score}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="profile-none">You have not completed any grammars.</p>
    {% endif %}

    <h3>Skipped Grammars</h3>

    {% if skipped_grammars|length > 0 %}
      <table class="grammar-table">
        <thead>
          <tr>
            <th width="200">Grammar</th>
          </tr>
        </thead>
        <tbody>
        {% for grammar in skipped_grammars %}
          <tr>
            <td>
            	<a href="/learn/?gid={{grammar.gid}}">{{grammar.prods}}</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="profile-none">You have not skipped any grammars.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block pagescripts %} 
  <link href="{% static 'css/c3.css' %}" rel="stylesheet" type="text/css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{% static 'js/c3.min.js' %}"></script>
	<script src="{% static 'js/profile.js' %}"></script>
  <script> create_chart( {{chart_stats|safe}} )</script>

{% endblock %}