{% extends "LL1_Academy/_navbarPages.html" %}
{% load static %}
{% block title %}Tutorial{% endblock %}

<!--  -->

{% block templates %}
{% verbatim %}
<script id="grammar-template" type="text/x-handlebars-template">
	
		{{#each grammar}}
		<div class="productions">
			<p class="nt">{{ this.nt }}</p>
			<p>:==</p>
			{{#each this.productions}}
				{{#if @last }}
					<p class="t">{{ this }}</p>
				{{else}}
					<p class="t">{{ this }}</p>
					<p>|</p>
				{{/if}}
			{{/each}}
		</div>
		{{/each}}
</script>

<script id="question-template" type="text/x-handlebars-template">
  <div class="question" id="active" style="display: none">
  	<p class="question-help">{{helptext}}</p>
	<p class="question-title">{{question}}</p>
    <form id="question-input" onsubmit="return false;">
		{{#each terminals}}
			<div class="pretty info smooth">
				  <input type="checkbox" name="question-check" id="{{this}}-check" value="{{this}}"> 
				  <label for="{{this}}-check"><i class="im im-check-mark"></i>{{this}}</label>
				</div>
    	{{/each}}
    	<!-- TODO: make radio button question -->
    	<!--
			<input type="radio" name="ll1" value="True" id="input1" style="display:inline;" required> True
  			<input type="radio" name="ll1" value="False" id="input2" style="display:inline;margin-left:10px;"> False
		 -->
		<div class="feedback"></div>
		<div id="buttons-container">
	    	<!-- <button type="button" class="button" id="giveup">Give Up</button> -->
	    	<button type="submit" class="button" >Submit</button>
	    </div>
    </form>
  </div>  
</script>

{% endverbatim %}
{% endblock %}

<!--  -->

{% block content %}

<div class="row">
	<!-- full width explainer here -->
	<div class="small-12 columns" style="color: grey;">
		<h3 style="font-family: 'Lato', sans-serif;">Welcome to the Tutorial Page!</h3>
		<p style="font-size:14px">Here you will learn how to determine the first sets, follow sets and parse table of a grammar, and therefore you will be able to check if a grammar is LL(1) by hand. The motivation for this exercise is for LL(1) parsing of an input string. This means the grammar fits into a class of grammars for which we can build a parser which can unambiguously determine the derivation of a string in the grammar in a single pass with no backtracking. (rewrite / expand)</p>
		<p style="font-size:14px">Already an expert? <a href="/practice">Start practicing!</a></p>
	</div>
	<div class="small-12 columns">
		<div id="tutorialOptions" style="text-align:center;margin-bottom:15px;font-size:20px;">
			<a href="#" class="tutTitle" id="firstTutorial" style="margin: 0 15px 0 0;">First Set Tutorial</a>
			|<a href="#" class="tutTitle" id="followTutorial" style="margin: 0 15px 0 15px;">Follow Set Tutorial</a>
			|<a href="#" class="tutTitle" id="parseTutorial" style="margin: 0 0 0 15px;">Parse Table Tutorial</a>
		</div>
		<p id="initialExplainer">Please select from the options above. We recommend starting from the First Set Tutorial.</p>
	</div>
	<!-- two column content below -->
	<div class="small-12 medium-6 columns" id="grammar-container" style="display: none">
		<h3>Grammar</h3>
		<div id="grammar">
		</div>
		<div style="display:flex; justify-content:space-between;">
			<div>
				<button class="button prevQ"><< Previous</button>
			</div>
			<button class="button nextQ">Next >></button>
		</div>
	</div>

	<div class="small-12 medium-6 columns" id="questions-wrapper" style="display: none">
		<h3>Questions</h3>
		<div id="questions-container"></div>
	</div>

</div>

{% endblock %}

<!--  -->

{% block pagescripts %}
<script src="{% static 'js/tutorial-questions.js' %}"></script>
<script src="{% static 'js/tutorial.js' %}"></script>
{% endblock %}