{% load socialaccount %}
{% get_social_accounts user as accounts %}
{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
  <div class="socialprovider">
    <span class="social-icon {{provider.id}}">
    {% if provider.id == "google" %}
      <i class="im im-google-plus"></i>
    {% else %}
      <i class="im im-facebook"></i>
    {% endif %}
    </span>
    <!-- {{provider.name}} Account:  -->
    {% if provider.id in accounts %}
    <span class="username">
      {% if user.first_name or user.last_name %}
          {{ user.first_name }} {{ user.last_name }}
      {% else %}
          {{ user.username }}
      {% endif %}
    </span>
    <div class="social-action">
      <form method="post" action="/accounts/disconnect_account">
        {% csrf_token %}
        <input type="hidden" name="account" value="{{ provider.id }}"/>
        <button class="button" style="background-color: #F6781D !important;" type="submit" 
          {% if accounts|length == 1 %}disabled{% endif %}>
          Disconnect
        </button>
      </form>
    </div>
    {% else %}
    <span class="social-info">
      <a href="{% provider_login_url provider.id process='connect' scope=scope auth_params=auth_params %}">
        <button class="button">
        Connect your {{provider.id|title}} account.
        </button>
      </a>
    </span>
    {% endif %}
  </div>
{% endfor %}